@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body, html {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #00417E;
  scroll-behavior: smooth;
  background-image: url('/assets/background0.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 50%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.App {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: transparent;
  z-index: 100;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.2);
}

.logo img {
  height: 70px;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul li {
  padding: 0 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #00417E;
  font-weight: 400;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20vh;
}

.hero-content {
  text-align: left;
  color: #00417E;
  max-width: 50%;
}

.hero-title {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-slogan {
  font-size: 1.5em;
}

.about-us-button {
  background-color: #00417E;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 1em;
  margin-top: 10%;
  cursor: pointer;
}

.mission-section {
  padding: 50px;
  scroll-margin-top: 200px;
}

.mission-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.mission-title {
  flex: 0 0 30%;
  font-size: 2em;
  font-weight: bold;
}

.mission-text {
  flex: 1;
  font-size: 1.1em;
  line-height: 1.6;
}

.learn-more-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  color: #00417E;
  text-decoration: none;
  font-weight: 600;
}

.learn-more-link img {
  height: 2em;
  width: auto;
}

