@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/assets/background0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Nunito Sans', sans-serif;
  color: #00417E;
}